.board{
    background-color: green;
    min-width: 800px;
    min-height: 800px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
.reset{
    width: 80px;
    height:50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
}
.counters{
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:20px;
}
.message{
    height:60px;
    width: 265px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

